<style>

.divClass h1{
    color: rgb(59, 10, 105);


}
#thirdDiv{
    height: 600px;
    width:500px;
    background: blue;
    padding: 50px;
    border: 10px solid magenta;

}
img{
    width: 400px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
    </style>